<ion-content>
  <div id="header">
    <div id="app-bar">
      <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
      <div id="logo">
        <img src="\assets\img\ImgLogin\iconDuoc.jpg" alt="">
      </div>
      <div></div>
    </div>

    <h1>Bienvenido</h1>
    <p>Inicia Sesión o Registrate</p>
  </div>



  <div class="wrapper">
    <ion-card class="form-wrapper">
      <ion-card-content>      
        <ion-item>
            <ion-icon name="mail"></ion-icon>
            <ion-input type="text" placeholder="Correo"></ion-input>
        </ion-item>
        <ion-item>         
                <ion-icon name="lock-closed"> </ion-icon>
                  <ion-input type="password" placeholder="Contraseña"></ion-input>               
        </ion-item>
        <ion-button color="warning" expand="block">Iniciar Sesión</ion-button>
        <div> 
          <a [routerLink]="['/forpass']"> "¿Ha olvidado su contraseña?" </a>
        </div>


      </ion-card-content>


    </ion-card>


  </div>
</ion-content>