.ion-header{
    font-family: Monaco, monospace;

}
body {
    background: linear-gradient(to bottom, #FFD700, #0000FF);
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: cover;
    font-family: Monaco, monospace; 
    margin: 0; 
  }
  
  ion-content {
    font-family: Monaco, monospace;
    background-image: url('/assets/img/ImgLogin/BgContent.jpg');
    background-repeat: no-repeat; 
    background-size: auto; 
    --ion-background-color: transparent;
  }
  
  
  .login-card ion-item,
  .login-card ion-button {
    margin-bottom: 10px; 
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Monaco, monospace;
  }
  
  .login-card {
    width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7; 
    text-align: center;
    font-family: Monaco, monospace;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    z-index: 1; 
  }
  
  .login-card::before {
    content: "";
    background-image: url('/assets/img/ImgLogin/BgLogin.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 20px;
    z-index: -1;
  }
  
  .login-card ion-item ion-input {
    --ion-input-background: #fff;
    --ion-border-radius: 15px; 
  }
  
  .login-card ion-button {
    --ion-text-color: #fff;
    border-radius: 25px;
    background-color: #dbe3e6;
    margin-top: 10px; 
  }
  
  .login-card ion-item {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .user-image {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    margin-bottom: 20px; 
  }
  ion-item ion-label {
    color: rgb(12, 12, 12); 
    font-family: Monaco, monospace;

  }
  ion-item {
    background-color: #fdfdfd;
    border-radius: 20px;

  }

.login-container .custom-login-button {
  border-radius: 50px !important;
  padding: 10px 20px !important;
  background-color: #007bff !important;
  color: white !important;
  text-align: center !important;
  cursor: pointer !important;
  display: inline-block !important;
  text-decoration: none !important;
  border: none !important;
  font-family: Monaco, monospace;

}

.login-container .custom-login-button:hover {
  background-color: #0056b3 !important;
}
.custom-footer {
    background-color: white;
    color: #333; 
    padding: 20px 0;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: 1; 
  }
  
  .custom-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .custom-footer-links a,
  .custom-social-media a {
    text-decoration: none;
    color: rgb(5, 5, 5); 
    margin: 10px; 
    font-size: 18px; 
  }
  
  .custom-footer-links a:hover,
  .custom-social-media a:hover {
    text-decoration: underline; 
  }
  