<ion-content>
  <div id="header">
    <div id="app-bar">
      <div id="logo">
        <img src="\assets\img\ImgLogin\logo_duoc.png" alt="logo_duoc">
      </div>
      <div></div>
    </div>

    <h1>Restablecer contraseña</h1>
    <h6>Le enviaremos un correo para que recupere su contraseña</h6>
  </div>

<div class="wrapper">
<ion-card class="form-wrapper">
<ion-input
  type="email"
  fill="solid"
  label="Email"
  labelPlacement="floating"
  helperText="Introduzca un email valido"
  errorText="Email invalida :c"
  ngModel
  email
></ion-input>

</ion-card>
<ion-button color="warning" expand="block" style="font-weight: bold; color: rgb(6, 3, 54);">
Enviar
</ion-button>
  </div>

</ion-content>